name: isd-test

on:
  workflow_dispatch: 
  schedule:
    - cron: '16 15 * * *'
    - cron: '16 0-14,16-23 * * *'

jobs:
    build: 
        runs-on: ubuntu-latest
        steps: 
          - uses: actions/checkout@v2
          - name: Set up python 3.10
            uses: actions/setup-python@v1
            with: 
              python-version: '3.10'
          - name: Install python dependencies
            run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
          - name: build stations.csv
            run: python stations_out.py config/stations_in.csv csv/airports.dat > csv/stations.csv
          - name: Install lftp
            run: sudo apt-get install -y lftp
          - name: Build isd database
            if: github.event.schedule != '16 0-14,16-23 * * *'
            run: ./isd.sh
          - name: Update latest
            run: ./latest.sh
          - uses: stefanzweifel/git-auto-commit-action@v5
